<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shorcut icon" type="favicon" href="../../assets/ico">

  <link rel="stylesheet" type="text/css" href="/styles/animation.css">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles2.css">

  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/jquery.leanModal.min.js"></script>

  <title>Weather On The Go</title>
</head>
<body>
  <%-body%>
  <div class="footer">
  <div class="container">
    <p>Copyright &amp; 2013 <a href="#">Weather on the go</a>. All rights reserved.</p>
        <p><b>POWERED BY</b></p>
              <a href="www.gorated.ph"><img src="/images/goratedlogo.png" title="Homepage of GoRated" /></a>
  </div>
</div>

<!-- Modal -->
<div id="loginmodal" style="display:none;">
  <h1>Login</h1>
  <form id="loginform" name="loginform" method="POST" action="/bridge/login">
    <input type="hidden" name="_csrf" value="<%-_csrf%>" />
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" class="txtfield" tabindex="1" placeHolder="Username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" class="txtfield" tabindex="2" placeHolder="Password">
    <input type="submit" name="loginbtn" id="loginbtn" class="btn btn-info" value="Login" tabindex="3">
  </form> 
</div>

<script type="text/javascript">
  $(function(){
  //   $('#loginform').submit(function(e){
  //     return false;
  // });
  $('#modaltrigger').leanModal({
    top: 110, overlay: 0.45, closeButton: ".hidemodal"
  });
});
</script>

</body>
</html>