<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shorcut icon" type="favicon" href="../../assets/ico">

  <link rel="stylesheet" type="text/css" href="/styles/animation.css">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles2.css">

  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/jquery.leanModal.min.js"></script>

  <title>Weather On The Go</title>
</head>
<body>
  <%-body%>
  <div class="footer">
  <div class="container">
    <p>Copyright &amp; 2013 <a href="#">Weather on the go</a>. All rights reserved.</p>
        <p><b>POWERED BY</b></p>
              <a href="www.gorated.ph"><img src="/images/goratedlogo.png" title="Homepage of GoRated" /></a>
  </div>
</div>

<!-- Modal -->
<div id="loginmodal" style="display:none;">
  <h1>Login</h1>
  <form id="loginform" name="loginform" method="POST" action="/bridge/login">
    <input type="hidden" name="_csrf" value="<%-_csrf%>" />
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" class="txtfield" tabindex="1" placeHolder="Username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" class="txtfield" tabindex="2" placeHolder="Password">
    <div class="buttons">
    <input type="submit" name="loginbtn" id="loginbtn" class="btn btn-info" value="Login" tabindex="3">
    <button type="submit" class="btn btn-info hidemodal" name="cancel">Cancel</button>
    </div>
  </form> 
</div>

<div id="registermodal" class="register" style="display:none; top:35px;">
    <div class="container">
      <h1>Register</h1>
      <div class="number">
        <form id="registerform" name="registerform" method="" action="">
          <!-- <label for="number">Mobile Number:</label> -->
          <input type="text" name="number" placeHolder="Enter your Mobile Number +63 XXX XXXXXXX  " class="txtfield">
          <div class="buttons">
          <button type="submit" class="btn btn-info" name="submit">Submit</button>
          <button type="submit" class="btn btn-info hidemodal" name="cancel">Cancel</button>
          </div>
        </form>
      </div>
      <div class="or"><img src="images/or.png"></div>
      <div class="web ">
        <form id="registerform" name="registerform" method="" action="">
          <!-- <label for="username">Username:</label> -->
          <input type="text" name="username" placeHolder="Username" class="txtfield">
          <!-- <label for="password">Password:</label> -->
          <input type="password" name="password" placeHolder="Password" class="txtfield">
          <!-- <label for="confirm">Confirm Password:</label> -->
          <input type="password" name="confirm" class="txtfield" placeHolder="Password">
          <!-- <label for="email">Email:</label> -->
          <input type="email" name="email" class="txtfield" placeHolder="email@gmail.com">
          <div class="buttons">
          <button type="submit" class="btn btn-info" name="submit">Submit</button>
          <input type="button" class="btn btn-info hidemodal" name="cancel" value="Cancel" >
          </div>
        </form>
      </div>
    </div>
</div>

<div id="confirmmodal" style="display:none;">
  <h1>Activate</h1>
  <form id="activateform" name="activateform" method="" action="">
    <p>
    Your are required to activate your account in order to recieve some updates. If you don't received any activation code please <a href="">click here</a>.
  </p>
  <input type="text" name="activation" placeHolder="Activation Code" class="txtfield">
  <input type="submit" class="btn btn-info" name="submit" value="Activate">
  </form> 
</div>

<script type="text/javascript">
  $(function(){

     $('#loginform').submit(function(e){
      return false;
   });

  $('#modaltrigger').leanModal({
    top: 110, overlay: 0.45, closeButton: ".hidemodal"
  });
});
</script>


<script type="text/javascript">
  $(function(){
    $('#loginform').submit(function(e){
      return false;
  });
  $('#triggermodal').leanModal({
    top: 110, overlay: 0.45, closeButton: ".hidemodal"
  });
});
</script>
</body>
</html>