<div class="header">
      <div class="logo"></div>
      <div class="headlines">
       <h1>Modernizing Agriculture - Weather App in an instant! </h1> 
             <p>Checking the weather is a hassle? Can't send an SMS to all your farmers?</p>
             <p>With <strong>Weather on The Go</strong> you don't have to check the website everytime - no need for those long and hassling messages just to tell the weather. Know the weather forcast in an instant with our SMS Integration. Knowing the weather in an instant couldn't be much easier.</p> 
      </div>
    </div>
    <div class="register">
    <div class="container">

      <div class="left-register">
      <form class="form-register" action="/signup/mobile" method="POST">
        <h2 class="form-register-heading">Signup Now!</h2>
        <input type="hidden" name="_csrf" value="<%-_csrf%>" />z
        <input type="text" class="form-control" name="mobile_number" placeholder="Enter your Mobile Number +63 XXX XXXXXXX" autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
      </form>
      </div>
      <div class="forms"></div>
      <div class="right-login">
      <form class="form-login">
        <h2 class="form-login-heading">Login</h2>
        <input type="text" class="form-control" placeholder="Enter your username" autofocus>
        <input type="password" class="form-control" placeholder="Enter your password" autofocus>
        <a class="form-forgot" href="#">Forgot Password?</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      </div>

    </div> <!-- /container -->
    <div class="footer">
      <p>Copyright &amp; 2013 <a href="#">Weather on the go</a>. All rights reserved.</p>
    </div>
    </div>
