<div class="header">
      <div class="logo"></div>
      <div class="headlines">
       <h1>Knowing </h1> 
             <p>Nullam ut varius ligula. Vivamus venenatis dictum libero nec adipiscing. In id dui libero. Nullam in sapien auctor, imperdiet metus eu, aliquam arcu. Integer et velit quis tortor varius egestas. Curabitur ornare erat eget mi viverra sagittis. Proin dignissim eu tortor quis vulputate.</p> 
      </div>
    </div>
    <div class="register">
    <div class="container">

      <div class="left-register">
      <form class="form-register">
        <h2 class="form-register-heading">Signup Now!</h2>
        <input type="text" class="form-control" placeholder="Enter your Mobile Number +63 XXX XXXXXXX" autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
      </form>
      </div>
      <div class="forms"></div>
      <div class="right-login">
      <form class="form-login">
        <h2 class="form-login-heading">Login</h2>
        <input type="text" class="form-control" placeholder="Enter your username" autofocus>
        <input type="password" class="form-control" placeholder="Enter your password" autofocus>
        <a class="form-forgot" href="#">Forgot Password?</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      </div>

    </div> <!-- /container -->
    <div class="footer">
      <p>Copyright &amp; 2013 <a href="#">Weather on the go</a>. All rights reserved.</p>
    </div>
    </div>
