  <div class="header">
    <div class="container"> 
        <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a href="/"><div class="logo"></div></a>
        </div>
        <div class="navigation">
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
              <li class=""><a href="/works"><i class="glyphicon glyphicon-cog"></i>How it works</a></li>
              <li class=""><a href="/features"><i class="glyphicon glyphicon-wrench"></i>Features</a></li>
              <li class=""><a href="/about"><i class="glyphicon glyphicon-cloud"></i>About</a></li>
              <li class=""><a href="/contact"><i class="glyphicon glyphicon-phone"></i>Contacts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#registermodal" id="triggermodal"><i class="glyphicon glyphicon-heart"></i>Register</a></li>
              <li><a href="#loginmodal" id="modaltrigger"><i class="glyphicon glyphicon-log-in"></i>Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
<div class="main">
	<div class="container">
    	<img src="images/away.png" style="margin:0 auto; display: block;">
      <div class="gotohome" style="text-align: center;"><a href="/" class="btn btn-info">Go to Home</a></div>
    </div>
</div>