/* Custom CSS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
  background: url("../images/main-background.png") repeat;
}

.header{
	width:100%;
	height:100px;
	margin:0 auto;
}

.slider{
	height:500px;
	width:100%;
	background: url('../images/header-background.png') no-repeat center center;
	background-size: cover;
}

.sliders-content{
	width:960px;
	padding:50px 0 0;
}

.sms-icon{
	float:left;
	height:183px;
	width:500px;
	background: url('../images/sms-icon.svg') no-repeat center center;
	padding:15px 0;
	margin: 0 0 0 126px;
	}

.sliders-content .message{
	float:right;
	width:300px;
	color:#FFF;
	padding:50px 0;
}

.navbar{
	height:72px;
}

.navbar-default {
background-color: #019ed3;
border: none;
}


.glyphicon-home:before {
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
}

.navbar-nav > li > a {
	padding-bottom: 25px;
	padding-top: 27px;
	border: none;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover {
color: #f2f2f2;
background-color: #0292c2;
box-shadow: inset 0 0 10px rgba(120,120,120,0.5);
}


.logo{
	background: url(../images/logo-2.svg) no-repeat center center;
	height:70px;
	width:250px;
}

.row{
	margin:0;
}

.content{
	background: rgba(255,255,255,0.5);
	padding:3px 10px;
	margin:-70px auto;
	border-radius: 10px;
	height:300px;
}

.col-md-4 .weatherapi{
	background: url("../images/weatherapi.svg") no-repeat center center;
	height:150px;
	width:150px;
	margin: 15px auto;
}

.col-md-4 .sms{
	background: url("../images/sms.svg") no-repeat center center;
	height:150px;
	width:150px;
	margin: 15px auto;
}

.col-md-4 .updated{
	background: url("../images/update.svg") no-repeat center center;
	height:150px;
	width:150px;
	margin: 15px auto;
}

.content h2{
	text-align: center;
	font-weight: bold;
	margin:20px 0;
}

.content p a{
	text-align: center;
	margin: 0 auto;
}

.header .navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	}

#registermodal h1 {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
}

#loginmodal h1 {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
}

#registermodal .buttons {
  text-align: center;
}

#loginmodal .buttons {
  text-align: center;
}
.or{
    text-align: center;
}

.or img {
  width: 30%;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.footer a{
	color: #333;
	text-decoration: none;
	font-weight: bold;
}


/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#loginmodal {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#registermodal {
  width: 400px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#loginform { /* no default styles */ }

#loginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }

#registerform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }

.txtfield { 
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}

