/* Custom CSS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
  background-color: #eee;
  background: url("../images/main-background.png") repeat;


}

.header{
	width:100%;
	height:300px;
	margin:0 auto;
}

.logo{
	background: url(../images/logo.svg) no-repeat center center;
	width:auto;
	height:200px;
	margin:0 auto;
}
.headlines{
	width:960px;
	padding:10px 20px;
	margin: 0 auto;
	text-align: center;
}

.headlines h1{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	text-align: center;
}

.headlines p{
	width:700px;
	margin: 0 auto;
}

.register{
	width: 100%;
	background: url("../images/background.png") no-repeat center top;
	background-size: cover;
	height:650px;
	padding:250px;
	position: relative;
}

.forms{
	background: url("../images/or.png") no-repeat center center;
	height:140px;
	width: 12%;
	margin:0 auto;
	display: inline-block;
	position: absolute;
	bottom:150px;
}

.left-register{
	background: #3a8ca7;
	padding:10px ;
	float:left;
	width:40%;
	height:300px;
	border-radius: 25px;
	box-shadow: 0px 0px 5px 5px rgba(200,200,200,0.3);
}

.left-register.form-register{
	margin: 0 auto;
	padding: 20px 0;
}

.form-register-heading{
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

.form-register input{
	margin: 45px auto 0;
	width:300px;
	padding:10px 10px;
	height:50px;
}

.form-register button{
	margin: 10px auto;
	width:250px;
	background: #357999;
	font-weight: 700;
	text-transform: uppercase;
}

.right-login{
	background: #3a8ca7;
	padding:10px ;
	float:right;
	width:40%;
	height:300px;
	border-radius: 25px;
		box-shadow: 0px 0px 5px 5px rgba(200,200,200,0.3);	
}

.right-login.form-login{
	margin: 0 auto;
	padding: 20px 0;
}

.form-login-heading{
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

.form-login input{
	margin: 5px auto;
	width:300px;
	padding:10px 10px;
	height:50px;
}

.form-login a {
	color: #ddd;
	text-decoration: none;
	margin: 5px;
	float:right;
}

.form-login button{
	margin: 10px auto;
	width:250px;
	background: #357999;
	font-weight: 700;
	text-transform: uppercase;
}

.footer{
	border-top:1px solid rgba(120,120,120, 0.6);
	padding:5px 0 0;
	margin:60px auto 0;
	width:960;
	color: #ddd;
	text-align: center;
}

.footer a{
	color: #333;
	text-decoration: none;
	font-weight: bold;
}